.billboard{
    position:relative;
    left: 0;
    right: 0; 
    top:0;
    height: 56.25vw;
    width: 100%;
    z-index: -2;
}

.innerContainer{
    position: absolute;
}

.description{
    margin: 0.9rem;
    font-size: 1rem;

}

.info{   
    position: absolute; 
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    left: 4%;    
    top: 0;
    width: 36%;
    z-index: 10;
    bottom: 35%;
}

.buttonLinks{
    display: flex;
    margin: 25px 0px 0px 0px;
}

.buttonLinks a,
.buttonLinks button{
    border-radius: 7px;
    border: none;
    display: flex;
    justify-content: space-between;
    margin: 0 15px 15px 0;
    padding: 0.5rem 2rem;
    font-size:23px;   
    
}

.buttonLinks button{
    background-color: rgba(109, 109, 110, 0.7) ;
}
