.nav{
    background-color: rgb(12, 1, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mainNav{
    display: flex;
    align-items: center;
}

.navItems{
    list-style: none;
    display: flex;
    align-items: center;
    color: rgb(201, 196, 196);
    padding: 0;
}

.navItems li{
   margin-left: 18px;
   font-size: 0.8rem;
}

.logo{
    max-width: 92px;
    height: fit-content;
}