.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    position: fixed;
    margin: 0;
    top:0;
    right:0;
    left:0;
    width: 100%;

    /*Animation*/
    transition-timing-function: ease-in;
    transition: all 0.5s;

}

.nav_black{
    background-color:rgb(20, 20, 20);
}

.mainNav{
    display: flex;
    align-items: center;
}

.navItems{
    list-style: none;
    display: flex;
    align-items: center;
    color: rgb(229, 229, 229);
    padding: 0;
    margin: 0;
}

.navItems li{
   margin-left: 18px;
   font-size: 14px;
}

.logo{
    max-width: 92px;
    height: fit-content;
}

.Link{
    text-decoration: none;
    color: inherit;
    font-weight: 400;
}

.Link:hover{
    color: rgb(148, 144, 144);
}