.row{
    overflow: hidden;
    margin-bottom: 1.5rem;
    position: relative;
    margin-left: 40px;
}

.row h2{
    color:#e5e5e5;
    font-weight: bold;
    font-size: 2.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.25vw;
    vertical-align: bottom;
}

/*//////////////SLIDER ITEMS////////////*/

.slider_items{
    position: relative;
}

.row_posters{
    display:flex;
    overflow-x: scroll;/*allows  scrollable*/
    scroll-behavior: smooth;
    padding:0 0.2vw;    
    box-sizing: border-box;
    vertical-align: top;
    z-index: 1;
    white-space: normal;

}

.row_poster{    
    width:100%;
    height:10vw;
    margin-right: 15px;
    margin-bottom: 0;
    box-sizing: border-box;
    border-radius: 10px;
    transition: transform 450ms;

}

.row_poster:hover{
    transform: scale(1.5);
    opacity:1;
}

/* to hide scroll bar*/
.row_posters::-webkit-scrollbar{
    display: none;
}

/*////////////////NEXT BUTTON///////////////*/
.handleNext,
.handlePrev{
    background:hsla(0,0%,8%,.5);
    bottom: 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    top:0;
    width: 4%;
    right: 0;
    z-index: 20;
    height: 100%;
    position: absolute;
    border: none;
    cursor: pointer;
    font-size: 3em;
    display: none;
}

.handlePrev{
   left: 0;
}

/*makes next button visisble*/
.row_posters:hover .handleNext,
.row_posters:hover .handlePrev{    
    display: flex;  
}

.icon{
    font-size: 5em;
}
